@using SeyahatSitesi.Models.Sınıflar
@model List<Oteller>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout1.cshtml";
}


<div class="con-bot">

    <div class="left">
        <div class="bot-left">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/25/92/53/ba/hotel-facade.jpg" alt="" style="width:300px; height:155px;" />
        </div>
        <div class="left-text">
            <h4> <a href="/Oteller/IndexOteller/">Venedik için oteller</a></h4>
        </div>
    </div>


    <div class="clear"></div>

</div>
@*<div class"content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <div class="left">
                    <div class="bot-left">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-s/25/92/53/ba/hotel-facade.jpg" alt="" style="width:300px; height:155px;" />
                    </div>
                    <div class="left-text">
                        <h4> <a href="/Oteller/IndexOteller/">Venedik için oteller</a></h4>
                    </div>
                </div>
            </div>
            @Html.Action("IndexOteller", "Oteller")
           
        </div>
    </div>
</div>*@
