@using SeyahatSitesi.Models.Sınıflar
@model List<Oteller>
@{
    ViewBag.Title = "IndexOteller";
    Layout = "~/Views/Shared/_TestLayout1.cshtml";
}

<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            @foreach (var x in Model)
            {
            <div class="single-grid">
                <center> <img src="@x.OtelImage" alt="" style="margin-bottom:20px" /></center>
                <center> <h4> <a href="#">@x.Otel</a></h4></center>
            </div>
                <br /><br />
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="header_bottom_right_images">

    <div class="slider" cover;*@ style="width:650px;height:370px; display:flex;">
        <ul class="rslides" id="slider1">
            @foreach (var x in Model)
            {
                <li><img src="@x.BlogImage" alt=""></li>
            }

        </ul>
    </div>

